ion-toolbar {
  --background: #748E63;
  color: white;
}

ion-title {
  font-weight: bold;
}

.ion-table {
  width: 50%;
  margin-top: 20px;
}

.ion-table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  background-color: #5F6F52;
  color: white;
}

.ion-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.ion-table td.dot {
  text-align: center;
}

.highest{
  background-color: #e9eee4;
  font-weight: bold;
}

#analyze {
  --background: #748E63;
  --border-radius: 5px;
  --padding-end: 20px;
  width: 50%;
  font-weight: bold;
}

#NoFeature{
  --border-color: #d7d8da;
  --color: black;
  --border-radius: 0;
  width: 50%;
  font-weight: bold;
  --background: #ffff;
}
.button-normal {
  --border-color: #d7d8da;
  --color: black;
  --border-radius: 0;
  width: 303px;
  font-weight: bold;
  --background: #ffff;
}

.button-active {
  border-bottom: 4px solid #B99470;
}

@media (max-width: 767px) {
  .ion-table,
  #analyze,
  #NoFeature,
  .riceleafimage,
  .button-normal {
      width: 100%;
  }
}

.riceleafimage {
  width: 50%;
  height: 75%;
  display: block;
  margin: 0 auto;
  object-fit: fill;
}